*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#ffd6e7,#ffeef5);
    overflow-x:hidden;
    color:#444;
}

/* LOGIN */

#login-page{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffb6d5,#ffd6e7);
    z-index:999;
}

.login-box{
    background:#fff;
    width:340px;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.login-box h1{
    color:#ff3d8d;
    margin-bottom:15px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:15px 0;
    border:2px solid #ffc2da;
    border-radius:10px;
}

.login-box button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#ff4d94;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.login-box button:hover{
    background:#ff2678;
}

/* HALAMAN */

#main-page{
    display:none;
    text-align:center;
    padding:40px 20px;
}

#main-page h1{
    color:#ff2d7a;
}

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin:30px 0;
}

.gallery img{
    width:220px;
    height:280px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.message{
    background:white;
    max-width:700px;
    margin:auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

#giftButton{
    margin-top:25px;
    padding:15px 35px;
    font-size:18px;
    border:none;
    border-radius:50px;
    background:#ff4d94;
    color:white;
    cursor:pointer;
}

#giftButton:hover{
    transform:scale(1.08);
}

/* SURAT */

#giftPage{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(255,192,203,.95);
    justify-content:center;
    align-items:center;
    padding:20px;
}

.letter{
    background:white;
    max-width:700px;
    padding:40px;
    border-radius:25px;
    animation:zoom .8s;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.letter h1{
    color:#ff2d7a;
    margin-bottom:20px;
}

.letter p{
    line-height:1.8;
    margin-bottom:15px;
}

@keyframes zoom{
    from{
        transform:scale(.5);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}
